/*type selector*/
html {
    background: #e3e3e3;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin:  40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff;
}

h1 {
    font-size: 2em;
    margin: 0;
}

h2 {
    color:rgb(37, 37, 37);
}

p {
    line-height: 1.4em;
}

time {
    font-weight: bolder;
}

img{
    width: 25%;
    height: 25%;
    object-fit: contain;
}

footer {
    display: flex;
    margin: 0 auto;
}

div:nth-of-type(1) {
    flex: 1;
}

div:nth-of-type(2) {
    background: #999;
    flex: 10;
}

div:nth-of-type(3) {
    flex: 1;
}

/*class selector*/
.blog-post {
    border-bottom: 1px dotted #ccc;
}

.sub_title {
    border-top: 1px dotted #ccc;
}

/*ID selector*/
#favorites {
    border-top: 1px dotted #ccc;
}

/*attribute selector*/
a[href] {
    font-style: italic;
}

.header,.menu {
    background: gray;
    position: sticky;
    top: 0;
    left: 0;
}

section {
    background: #ccc;
    display: flex;
}

article {
    background: #999;
    padding: 20px;
    margin: 20px;
}

article:nth-of-type(1) {
    flex: 1;
}

article:nth-of-type(2) {
    flex: 1;
}
