/*type selector*/
html {
    background: #e3e3e3;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin:  40px;
    padding: 40px;
    color: #242424;
    border-top: 10px solid #242424;
    background: #fff;
}

h1 {
    font-size: 2em;
    margin: 0;
}

h2 {
    color:rgb(37, 37, 37);
}

p {
    line-height: 1.4em;
}

time {
    font-weight: bolder;
}

img{
    width: 25%;
    height: 25%;
    object-fit: contain;
}

footer {
    text-align: right;
}

/*class selector*/
.blog-post {
    border-bottom: 1px dotted #ccc;
}

.sub_title {
    border-top: 1px dotted #ccc;
}

/*ID selector*/
#favorites {
    border-top: 1px dotted #ccc;
}

/*attribute selector*/
a[href] {
    font-style: italic;
}

.menu {
    background: gray;
    position: sticky;
    top: 0;
    left: 0;
}

section {
    background: #ccc;
    display: flex;
}

article {
    background: #999;
    padding: 20px;
    margin: 20px;
}

article:nth-of-type(1) {
    flex: 1;
}

article:nth-of-type(2) {
    flex: 1;
}

.author_image {
    position: sticky;
    right: 0;
    float: right;
    width: 200px;
    margin: 0 0 10px 10px;
    background-color: #fff;
    padding: 10px;
    border-top: 2px solid #999;
    border-right: 1px solid #555;
    border-bottom: 1px solid #555;
    border-left: 2px solid #999;
}

div.author_image img {
border-top: 2px solid #555;
border-right: 1px solid #999;
border-bottom: 1px solid #999;
border-left: 2px solid #555;
}